PIVNET_ENABLED=false
PIVNET_API-TOKEN=
CF_API-HOST=
CF_USERNAME=
CF_PASSWORD=''
OM_ENABLED=false
OM_API-HOST=
OM_GRANT-TYPE=password
OM_USERNAME=
OM_PASSWORD=
OM_CLIENT-ID=opsman
OM_CLIENT-SECRET=""
CF_ORGANIZATION-BLACK-LIST=[ "system" ]
CF_ACCOUNT-REGEX=^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$
CRON_COLLECTION="0 0 0 * * *"
CRON_EXECUTION="0 0 2 * * *"
CF_POLICIES_GIT_URI=https://github.com/cf-toolsuite/cf-butler-config.git
CF_POLICIES_GIT_FILE-PATHS=[ "change-stack-applications-policy-sample-AP.json","emergency-notice-sample-HP.json","endpoint-policy-sample-EP.json","hygiene-policy-sample-HP.json","legacy-policy-sample-LP.json","query-policy-h2-sample-QP.json","delete-applications-policy-sample-AP.json","delete-service-instances-policy-sample-SIP.json","scale-applications-policy-sample-AP.json","stop-applications-policy-sample-AP.json" ]
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH_ENABLED=true
MAIL_SMTP_STARTTLS_ENABLED=true
MAIL_SMTP_SSL_ENABLED=true
NOTIFICATION_ENGINE=java-mail